best/
best_newdata/
model/
model_newdata/
temp_plot/
train_data/
train_newdata/
*.json
*.out
*.png
analysis/
__pycache__/
inference_result/
slurm-job/
slurmout/
Summary/
logfiles/
longitudinal_plot/
ProcessVisu/
core*
